<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.droidplanner.services.android"
          android:versionCode="1"
          android:versionName="0.0.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Support devices without Bluetooth since there are other connection types -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <!-- Support devices without USB host mode since there are other connection types -->
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <!-- Support devices that don't have location services -->
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />

    <application
        android:name=".DroidPlannerServicesApp"
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_title">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".communication.service.MAVLinkService" >
        </service>

        <service android:name=".communication.service.UploaderService" />

        <service android:name=".api.DroidPlannerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.three_dr.services.android.lib.model.IDroidPlannerServices" />
            </intent-filter>
        </service>

        <receiver android:name=".communication.service.NetworkConnectivityReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            </receiver>
    </application>

</manifest>
